language: android
jdk: oraclejdk8
if: tag IS present

android:
  components:
  - tools
  - build-tools-28.0.3
  - android-29

before_script:
  - sed -i "s/versionName.*/versionName \"${TRAVIS_TAG}\"/g" app/build.gradle
  - cat app/build.gradle

script:
  - ./gradlew assembleRegularDebug

deploy:
  provider: releases
  api_key:
    secure: lGl1gxfnjoJfn1FduLWkh/0bgfOfIEA3au1oq6d1Fs1MMLei/PkQkkwZOaCmitGrwuznls4/zzsTQbJ/QfbmCN4SPGEMaeAnJYvIDcTqdHyPQ0p6fgnFxhduKTHTY1gWOFukm5NEiGsKQ7EZn0xFoHu2gwsy2DAh+A/YW/J+JAk=
  file: "./app/build/outputs/apk/regular/debug/app-regular-debug.apk"
  skip_cleanup: true
  on:
    repo: testfairy/draw-me-a-fairy
    tags: true
