<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:largeHeap="true"
		android:allowBackup="false"
		android:label="@string/app_name"
		android:name="com.testfairy.samples.drawmefairy.MyApplication"
		android:icon="@drawable/icon">

		<activity
			android:name="com.testfairy.samples.drawmefairy.SplashScreenActivity"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Black.NoTitleBar" />

		<activity
			android:name="com.testfairy.samples.drawmefairy.MenuActivity"
			android:screenOrientation="portrait"
			android:label="@string/app_name">

			<intent-filter >
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>

		</activity>

		<activity
			android:name="com.testfairy.samples.drawmefairy.DrawingActivity"
			android:screenOrientation="portrait"
			android:label="Drawing Activity"
			/>

		<activity
			android:name="com.testfairy.samples.drawmefairy.AboutActivity"
			android:screenOrientation="portrait"
			android:label="About"
			/>

		<activity
			android:name="com.testfairy.samples.drawmefairy.SelectPhotoActivity"
			android:screenOrientation="portrait"
			android:label="Select Photo"
			/>

		<activity
			android:name="com.testfairy.samples.drawmefairy.SecretActivity"
			android:screenOrientation="portrait"
			android:label="Secret Activity"
			/>

		<activity
			android:name="com.testfairy.samples.drawmefairy.ClockActivity"
			android:screenOrientation="portrait"
			android:label="Clock Activity"
			/>

		<activity
			android:name="com.testfairy.samples.drawmefairy.TestFairyBlogActivity"
			android:screenOrientation="portrait"
			android:label="TestFairy Blog"
			/>

		<activity
			android:name="com.testfairy.samples.drawmefairy.PrintActivity"
			android:screenOrientation="portrait"
			android:label="Print Activity" />

		<activity
			android:name="com.testfairy.samples.drawmefairy.CrashActivity"
			android:screenOrientation="portrait"
			android:label="Crash Activity"
			/>

		<activity
			android:name="com.testfairy.samples.drawmefairy.AddAttributesActivity"
			android:screenOrientation="portrait"
			android:label="Add Attributes Activity"
			/>

		<activity
			android:name="com.testfairy.samples.drawmefairy.LocationActivity"
			android:screenOrientation="portrait"
			android:label="Location Activity"
			/>

		<service
			android:name="com.testfairy.samples.drawmefairy.LocationUpdatesService"
			android:foregroundServiceType="location" />

	</application>

</manifest>
